@media ($mobile) {

  h2 {
    font-size: 19px;
  }

  .body {
    line-height: 1.6;
    font-size: 13px;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }

  .small-only {
    display: table;
  }

  .resp-table + .responsive-table {
    display: none;
  }

  .page-title {
    margin: 15px 0;
    font-size: 20px;
    line-height: 1.1;
  }

  .text-section img {
    margin: 0 auto 20px !important;
    display: block;
    float: none;
  }

  .text-section p {
    line-height: 1.6;
    text-align: justify;
  }

  .text-section blockquote {
    padding: 55px 20px 10px 20px;
  }

  .text-section blockquote .blockquote-label {
    top: -10px;
    left: 50%;
    transform: scale(.67) translateX(-75%);
  }

  .text-section blockquote p {
    line-height: 1.5;
    text-align: left;
  }

  .text-section iframe {
    max-height: 170px;
    margin-bottom: 50px;
  }

  //////////////////////////////////////////////////////// category ////////////////////////////////////////

  .category {
    display: block;
  }

  .category__item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px !important;
  }

  //////////////////////////////////////////////// catalog ////////////////////////////////////////////////

  .left-sidebar {
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
  }

  .right-block {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  .catalog__list--item {
    width: 100%;
    margin-right: 0 !important;
  }

  .catalog__list--item .goods {
    margin: auto;
    max-width: 300px;
  }

  .right-block .sub-category__wrapper {
    display: none;
  }

  .left-sidebar .sub-category__wrapper {
    display: block;
  }

  .sub-category__item {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 50px;
  }

  .category-mob-title {
    display: block;
    font-family: $font-normal;
    position: relative;
    border: 1px solid #e8edf5;
    padding: 13px 20px;

    &.open {
      .caret {
        transform: rotate(-45deg);
      }
    }

    .caret {
      position: absolute;
      top: 23px;
      right: 20px;
    }

    &--gray {
      font-family: $font-bold;
    }
  }
  .left-sidebar-wrapper {
    margin-bottom: 15px;
    .sidebar__filter, .sidebar__title {
      display: none;
      margin-top: 10px;
    }
  }
  .sub-category__wrapper {
    margin-bottom: 15px;
    .sub-category {
      display: none;
      margin-top: 10px;
    }
  }

  .sidebar__list-wrapper {
    margin-bottom: 15px;
    .sidebar__list {
      display: none;
      margin-top: 10px;
    }
  }

  span.catalog__sort--label.text-bold {
    display: block;
  }

  .catalog__sort--list li.init {
    width: 100%;
  }

  .catalog__sort--list {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
  }

  .catalog__title {
    font-size: 20px;
  }

  .old-price {
    margin-right: 45px;
  }

  .compare-link {
    display: none;
  }

  //////////////////////////////////////////////////////////// recovery password //////////////////////////////////

  .pass-recovery fieldset {
    max-width: none;
  }
  .pass-recovery .btn {
    width: 285px;
    margin: auto;
    display: block;
  }

  .pass-recovery {
    margin-bottom: 60px;
  }

  ////////////////////////////////////////////////////////// register //////////////////////////////////////////

  .already-registered {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 60px;
    padding: 20px 15px;
  }

  .registration {
    margin-bottom: 25px;
  }

  .registration .btn {
    width: 100%;
  }

  .already-registered__title {
    font-size: 16px;
    margin-bottom: 15px;
  }

  ///////////////////////////////////////////////// payment and delivery //////////////////////

  .payment-and-delivery__block .gray-form.left {
    margin-right: 0;
  }

  .payment-and-delivery__block .gray-form {
    max-width: 100%;
    width: 100%;
  }

  .payment-and-delivery__block {
    display: block;
  }

  .payment-and-delivery__subtitle {
    margin-bottom: 15px;
  }

  .payment-and-delivery__block .gray-form {
    padding: 5px 22px 6px;
  }

  .payment-and-delivery__block .gray-form.text-section {
    margin-bottom: 15px;
  }

  .payment-and-delivery__list {
    column-count: 1;
    margin-bottom: 50px;
  }

  //////////////////////////////////////////// partner /////////////////////////////////////////////

  .partner__item img {
    top: 0;
    position: relative;
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin: 0 auto 20px;
  }

  .partner__item {
    padding-left: 0;
    padding-top: 30px;
  }



  /////////////////////////////////// news ///////////////////////////////////////////////////////

  .news .main-news-list__item {
    max-width: 300px;
    margin: 0 auto 15px !important;
    display: block;
    width: 100%;
  }

///////////////////////////////////////// news detail //////////////////////////////////////

  .photo-gallery__slider--item {
    height: 32vw;
    max-width: 95%;
    margin: auto !important;
  }
  .news-detail__middle--image {
    height: 62vw;
  }

  .news-detail__top {
    flex-direction: column;
  }

  .news-detail__top .left {
    margin-bottom: 5px;
  }

  .mfp-image-holder .mfp-close {
    top: -50px;
    right: -20px;
  }

  .mfp-container {
    max-width: 98%;
  }
  .mfp-arrow-right {
    right: -15px;
  }
  .mfp-arrow-left {
    left: -15px;
  }

  .mfp-arrow-left:after {
    border-left: 2px solid #c9d1de;
    border-bottom: 2px solid #c9d1de;
  }

  .mfp-figure figure {
    background-color: #fff;
  }

  //////////////////////////////////////////////////// order //////////////////////////////////

  .order {
    display: block;
  }
  .order-table {
    width: 100%;
  }
  .order-form {
    width: 100%;
  }
  .order-table__total {
    float: none;
    table {
      margin: 0 auto 20px;
    }
  }
  .order-table__item {
    margin-bottom: 15px;
  }

  .order-form__input-inline .custom-input__wrapper {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  .order-form__title {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .order-form fieldset {
    margin-bottom: 15px;
  }

  h3.order-form__title {
    margin-top: 30px;
  }

  .order-table__item a {
    font-size: 13px;
  }

  .order-table__item tr {
    padding: 15px 15px 15px 110px;
  }

  .order-table__item tr td:nth-child(1) {
    width: 90px;
    top: 20px;
    left: 10px;
  }

  .order-table__item .current-price a {
    font-size: 16px;
  }

  /////////////////////////////////////////////////////// compare ///////////////////////////////

  .compare {
    display: none;
  }

  ////////////////////////////////////////////////////////// contacts //////////////////////////

  .office-contacts__list li:not(:nth-child(2n+2)) {
    margin-right: 0;
  }

  .office-contacts__list li {
    min-height: inherit;
    padding-bottom: 25px;
    width: 100%;
    margin: 0;
  }

  .office-contacts .icon {
    left: 12px;
  }

  .office-contacts .link__accent {
    display: block;
  }

  .contact-page__maps--navigate {
    display: none;
  }

  .contact-page__office {
    float: none;
    width: auto;
    margin-bottom: 0;
  }

  .map-tabs {
    display: none;
  }

  .contact-page__maps--form {
    width: 100%;
    position: relative;
    top: 0;
    right: 0;
  }

  .contact-page__maps--form .gray-form {
    padding: 35px 20px;
    height: auto;
    overflow: visible;
    background-color: #e0e4ef;
    margin-bottom: 60px;
  }

  ////////////////////////////////////////////////// template orders /////////////////////

  .template-orders__list li {
    float: none;
    width: 100%;
    margin-right: auto !important;
    margin-bottom: 20px;
    max-width: 300px;
    margin-left: auto;
  }

  .template-orders__form {
    padding: 20px 15px 25px;
    margin-bottom: 60px;
  }

  .template-orders {
    margin-bottom: 60px;
  }

  .template-orders__form--title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .template-orders__form--subtitle {
    margin-bottom: 10px;
  }

  .template-orders__form--wrapper fieldset {
    margin-bottom: 17px;
  }

  .template-orders__list {
    float: none;
    margin-bottom: 0;
  }

  ////////////////////////////////////////////////////// service subcategory /////////////////////

  .sub-category.service-subcategory .sub-category__item {
    width: 100%;
    margin-bottom: 15px;
  }

  /////////////////////////////////////////////////////////// lk /////////////////////////////////////

  .lk__item {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 15px;

    &:nth-child(2n+2){
      margin-right: 0;
    }
  }

  .lk__item a {
    height: 45vw;
  }

  .lk__item--text {
    bottom: 5vw;
  }

  .lk__item .icon {
    font-size: 15vw;
    top: 10vw;
    left: 50%;
  }

  .lk__item .icon.icon-shopping-cart {
    font-size: 16vw;
  }

  .lk__item .icon.icon-user {
    font-size: 15vw;
  }

  .lk-navigate__mob {
    display: block;
    transition: .3s ease;
    position: relative;
    padding: 16px 10px 13px 61px;
    border-bottom: 1px solid #fff;
    background-color: #2c2f7c;
    color: #fff;
    .icon {
      position: absolute;
      top: 14px;
      left: 15px;
      font-size: 25px;

      &.icon-user {
        font-size: 26px;
      }
      &.icon-shopping-cart {
        font-size: 29px;
      }
    }
  }

  .lk-navigate__item {
    display: block;
    width: 100%;
    margin: 0;
  }

  .lk-navigate__item a .text-bold {
    display: inline;
    text-align: left;
    position: relative;
    bottom: 0;
  }

  .lk-navigate__item a {
    height: auto;
  }

  .lk-navigate__item a .icon {
    top: 15px;
    left: 15px;
    font-size: 25px;
    transform: none;
  }

  .lk-navigate__item a .icon.icon-user {
    font-size: 26px;
  }

  .lk-navigate__item a .icon.icon-shopping-cart {
    font-size: 29px;
  }

  .lk-cart-block__nav li a {
    padding: 10px 15px;
  }

  .lk-cart-table__body--item {
    display: block;
    position: relative;
    padding: 20px 10px;
    font-size: 13px;

    .delete-item {
      position: absolute;
      top: 0;
      right: 0;
    }

    tbody {
      display: block;
    }
    table {
      display: block;
    }
    tr {
      display: block !important;
      td {
        display: block !important;
      }
    }
  }

  .lk-cart-table__body--item .img img {
    max-width: 30vw;
    max-height: 30vw;
  }

  .lk-cart-table__body--item .img {
    padding: 15px 0;
  }

  .lk-cart-table__body--item > td:nth-child(1) {
    width: 100%;
    display: block;
  }

  .lk-cart-table__body--item > td:nth-child(2) {
    width: 100%;
    display: block;
  }

  .lk-cart-table__body--item .delete-item a {
    margin-top: 5px;
    margin-right: 2px;
  }

  .lk-cart-table__body--item .img {
    padding: 0;
    width: 85px;
  }

  .lk-cart-table__body--item .text {
    padding: 15px 0;
    ul {
      li {
        &:first-child {
          position: absolute;
          top: 17px;
          left: 37vw;
          max-width: 47vw;
          max-height: 90px;
          overflow: hidden;
          .text-bold {
            font-size: 13px;
          }
        }
      }
    }
  }

  .lk-cart-table__body--item .goods-amount {
    margin: 0;
  }

  .cart-total-item {
    padding: 10px 0 0;
  }
  .cart-total-item .text-accent {
    margin-bottom: 10px;
  }

  .lk-cart-table__footer {
    .container-fluid {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .lk-cart-table__body--item .mob {
    display: inline;
  }

  .lk-cart-block__content {
    margin-bottom: 60px;
  }

  .lk-navigate__item.active {
    display: none;
  }

  .lk-cart-table__footer .order-table__total .btn {
    margin: auto;
    display: block;
  }

  .lk-cart-table__footer--discountCode {
    max-width: 300px;
    margin: 0 auto 15px;
  }

  .lk-cart-table__body {
    margin-bottom: 15px;
  }

  .lk-cart-table__head {
    display: none;
  }

  .lk-navigate {
    display: none;
  }

  .lk-left {
    margin-bottom: 25px;
  }

  .lk-content__title {
    font-size: 20px;
  }

  .lk-order-item__header > *,
  .lk-order-item__header {
    display: block;
  }

  .lk-order-item__header {
    padding: 15px 15px 20px;
  }

  .lk-order-item__content {
    padding: 20px;
  }

  .lk-order-item__tel {
    display: block;
  }

  .lk-order-title {
    font-size: 14px;
  }

  .lk-order-item__content--bottom .btn.btn--accent,
  .lk-order-item__content--bottom .btn {
    margin-bottom: 15px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }

  .lk-order-item__content--bottom .btn.btn-link {
    max-width: 132px;
  }

  .lk-order-list {
    margin-bottom: 60px;
  }

  .lk-order-item__header .pull-right {
   float: none !important;
  }

  .lk-order-item__content .btn--accent {
    width: 225px;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  //.lk-form fieldset {
  //  margin-bottom: 15px;
  //}

  .lk-form__left,
  .lk-form__right {
    width: 100%;
    margin: 0;
    display: block;
    padding: 0;
  }

  .lk-form__right {
    margin-bottom: 25px;
  }

  .lk-form {
    margin-bottom: 60px;
  }

  .lk-form__bottom .btn {
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 10px;
  }

  .lk-cancel {
    margin-bottom: 60px;
  }

  .lk-cancel__bottom {
    margin-top: 15px;
  }

  .lk-cancel__bottom .btn {
    width: 225px;
    display: block;
    margin: auto;
  }

/////////////////////////////////////////////////////// 404 /////////////////////////////

  .error-block__back {
    height: 37vw;
    margin-top: 10px;
    margin-bottom: 25px;
    left: 0;
  }

  .error-block__back > span.text-bold {
    font-size: 18vw;
    top: 5vw;
    margin-left: -9px;
  }

  .error-block__back > span.text-accent {
    font-size: 5vw;
    bottom: 2vw;
    margin-left: -7px;
  }

  .error-block__bottom .btn {
    margin-top: 0;
    width: 100%;
  }














}

