@media ($mobile) {

  h2 {
    font-size: 19px;
  }

  .body {
    line-height: 1.6;
    font-size: 13px;
  }
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }

  .small-only {
    display: table;
  }

  .resp-table + .responsive-table {
    display: none;
  }

  .page-title {
    margin: 15px 0;
    font-size: 20px;
    line-height: 1.1;
  }

  .text-section img {
    margin: 0 auto 20px !important;
    display: block;
    float: none;
  }

  .text-section p {
    line-height: 1.6;
    text-align: justify;
  }

  .text-section blockquote {
    padding: 55px 20px 10px 20px;
  }

  .text-section blockquote .blockquote-label {
    top: -10px;
    left: 50%;
    transform: scale(.67) translateX(-75%);
  }

  .text-section blockquote p {
    line-height: 1.5;
    text-align: left;
  }

  .text-section iframe {
    max-height: 170px;
    margin-bottom: 50px;
  }

  //////////////////////////////////////////////////////// category ////////////////////////////////////////

  .category {
    display: block;
  }

  .category__item {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px !important;
  }

  //////////////////////////////////////////////// catalog ////////////////////////////////////////////////

  .left-sidebar {
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
  }

  .right-block {
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }

  .catalog__list--item {
    width: 100%;
    margin-right: 0 !important;
  }

  .catalog__list--item .goods {
    margin: auto;
    max-width: 300px;
  }

  .right-block .sub-category__wrapper {
    display: none;
  }

  .left-sidebar .sub-category__wrapper {
    display: block;
  }

  .sub-category__item {
    width: 100%;
    margin-right: 0 !important;
    margin-bottom: 50px;
  }

  .category-mob-title {
    display: block;
    font-family: $font-normal;
    position: relative;
    border: 1px solid #e8edf5;
    padding: 13px 20px;

    &.open {
      .caret {
        transform: rotate(-45deg);
      }
    }

    .caret {
      position: absolute;
      top: 23px;
      right: 20px;
    }

    &--gray {
      font-family: $font-bold;
    }
  }
  .left-sidebar-wrapper {
    margin-bottom: 15px;
    .sidebar__filter, .sidebar__title {
      display: none;
      margin-top: 10px;
    }
  }
  .sub-category__wrapper {
    margin-bottom: 15px;
    .sub-category {
      display: none;
      margin-top: 10px;
    }
  }

  .sidebar__list-wrapper {
    margin-bottom: 15px;
    .sidebar__list {
      display: none;
      margin-top: 10px;
    }
  }

  span.catalog__sort--label.text-bold {
    display: block;
  }

  .catalog__sort--list li.init {
    width: 100%;
  }

  .catalog__sort--list {
    position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
  }

  .catalog__title {
    font-size: 20px;
  }

  .old-price {
    margin-right: 45px;
  }

  .compare-link {
    display: none;
  }

  //////////////////////////////////////////////////////////// recovery password //////////////////////////////////

  .pass-recovery fieldset {
    max-width: none;
  }
  .pass-recovery .btn {
    width: 285px;
    margin: auto;
    display: block;
  }

  .pass-recovery {
    margin-bottom: 60px;
  }

  ////////////////////////////////////////////////////////// register //////////////////////////////////////////

  .already-registered {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 60px;
    padding: 20px 15px;
  }

  .registration {
    margin-bottom: 25px;
  }

  .registration .btn {
    width: 100%;
  }

  .already-registered__title {
    font-size: 16px;
    margin-bottom: 15px;
  }

  ///////////////////////////////////////////////// payment and delivery //////////////////////

  .payment-and-delivery__block .gray-form.left {
    margin-right: 0;
  }

  .payment-and-delivery__block .gray-form {
    max-width: 100%;
    width: 100%;
  }

  .payment-and-delivery__block {
    display: block;
  }

  .payment-and-delivery__subtitle {
    margin-bottom: 15px;
  }

  .payment-and-delivery__block .gray-form {
    padding: 5px 22px 6px;
  }

  .payment-and-delivery__block .gray-form.text-section {
    margin-bottom: 15px;
  }

  .payment-and-delivery__list {
    column-count: 1;
    margin-bottom: 50px;
  }

  //////////////////////////////////////////// partner /////////////////////////////////////////////

  .partner__item img {
    top: 0;
    position: relative;
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin: 0 auto 20px;
  }

  .partner__item {
    padding-left: 0;
    padding-top: 30px;
  }



  /////////////////////////////////// news ///////////////////////////////////////////////////////

  .news .main-news-list__item {
    max-width: 300px;
    margin: 0 auto 15px !important;
    display: block;
    width: 100%;
  }

///////////////////////////////////////// news detail //////////////////////////////////////

  .photo-gallery__slider--item {
    height: 32vw;
    max-width: 95%;
    margin: auto !important;
  }
  .news-detail__middle--image {
    height: 62vw;
  }

  .news-detail__top {
    flex-direction: column;
  }

  .news-detail__top .left {
    margin-bottom: 5px;
  }

  .mfp-image-holder .mfp-close {
    top: -50px;
    right: -20px;
  }

  .mfp-container {
    max-width: 98%;
  }
  .mfp-arrow-right {
    right: -15px;
  }
  .mfp-arrow-left {
    left: -15px;
  }

  .mfp-arrow-left:after {
    border-left: 2px solid #c9d1de;
    border-bottom: 2px solid #c9d1de;
  }

  .mfp-figure figure {
    background-color: #fff;
  }




















}

