.page-title {
  margin: 30px 0;
  text-transform: uppercase;
  font-size: 28px;
  letter-spacing: -.2px;
}

.text-section {
  h1, h2, h3 {
    text-transform: uppercase;
  }
  h1 {
    margin: 30px 0;
  }
  h2 {
    margin: 30px 0;
  }
  h3 {
    margin: 25px 0;
  }
  h4 {
    margin: 20px 0;
    font-family: $font-regular;
  }

  img[align="left"] {
    margin-right: 30px;
    margin-bottom: 30px;
  }

  img[align="right"] {
    margin-left: 30px;
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 25px;
  }

  ol {
    margin-bottom: 19px;
    padding-bottom: 1px;
    li {
      counter-increment: myCount;
      position: relative;
      padding: 0 0 0 27px;
      margin-bottom: 10px;
      &:before {
        content: counter(myCount) ".";
        position: absolute;
        top: 0;
        left: 0;
        font-family: $font-bold;
        color: $accent;
      }
    }
  }
  ul {
    margin-bottom: 19px;
    padding-bottom: 1px;
    li {
      position: relative;
      padding: 0 0 0 27px;
      margin-bottom: 10px;
      &:before {
        content: "";
        @include sprite($ul-label);
        position: absolute;
        top: 7px;
        left: 5px;
        display: inline-block;
      }
    }
  }

  blockquote {
    position: relative;
    background-color: #f2f4fa;
    font-family: $font-light-italic;
    font-size: 15px;
    margin-left: 0;
    margin-right: 0;
    padding: 40px 30px 10px 105px;
    margin-bottom: 35px;

    p {
      margin-bottom: 20px;
    }

    .blockquote-label {
      @include sprite($bq);
      position: absolute;
      top: 0;
      left: 17px;
    }

    .blockquote-mark {
      font-family: $font-light;
    }
  }

  iframe {
    margin-bottom: 30px;
  }

}

.small-only {
  display: none;
}

.resp-table +.responsive-table {
  width: 100%;
  tbody {
    tr {
      &:first-child {
        background-color: $second-accent;
        color: #fff;
        font-family: $font-normal;
        font-size: 15px;
      }

      &:nth-child(odd):not(:first-child){
        background-color: #f5f6f9;
      }

      &:not(:first-child){
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: #e8edf5;

      }

      td {
        height: 60px;
        vertical-align: middle;
        padding: 18px 18px 15px;
        
        &:last-child {
          font-family: $font-bold;
        }
        &:first-child {
          padding: 0 0 0 30px;
          width: 6%;
        }
        &:nth-child(2){
          width: 55%;
        }

      }
    }
  }
}

.resp-table {

  border-top: 1px solid #e8edf5;

  & > .responsive-table {
    width: 100%;
    margin-bottom: 0;
  }

  .responsive-table:first-child {
    display: none;
  }

  .responsive-table:nth-child(odd) {
    background-color: #f5f6f9;
  }

  .responsive-table {

    tbody {
      display: block;
      padding: 15px 10px 10px 43px;
      position: relative;
      border-right: 1px solid #e8edf5;
      border-bottom: 1px solid #e8edf5;
      border-left: 1px solid #e8edf5;


      tr {
        display: block;

        &:first-child {
          td:first-child {
            display: none;
          }
          td:last-child {
            position: absolute;
            top: 15px;
            left: 20px;
          }
        }
        &:nth-child(2) {
          td:first-child {
            display: none;
          }
        }

        td {
          width: auto !important;

        }
      }
    }

  }

}

.resp-table .responsive-table tbody > tr > td:first-child {
  text-align: left;
  font-family: $font-bold;
  padding-right: 5px;
}