//////// font var //////////////

$font-normal: "GothamProMedium", sans-serif;
$font-regular: "GothamProRegular", sans-serif;
$font-bold: "GothamProBold", sans-serif;
$font-black: "GothamProBlack", sans-serif;
$font-light: "GothamProLight", sans-serif;
$font-light-italic: "GothamProLightItalic", sans-serif;
$font-universe-bold: "UniverseCondensedBold", sans-serif;

////////// color var //////////////////////

$accent: #f1724f;
$accent-hover: #ff7f58;
$second-accent: #2c2f7c;
$second-accent-hover: #5154a1;
$text-color: #3f404e;


////////// media query //////////////////////
$desktop-under: "min-width:1440px";
$desktop: "max-width:1279px";
$tablet: "max-width:991px";
$mobile: "max-width: 767px";