.pagination {
  text-align: center;
  li {
    display: inline-block;
    &:not(:last-child){
      margin-right: 5px;
    }
    a {
      display: inline-block;
      width: 47px;
      height: 47px;
      background-color: #f2f4fa;
      text-align: center;
      border-radius: 50%;
      padding-top: 12px;
    }
  }
  .disabled {
    a {
      pointer-events: none;
      cursor: default;
    }
    .sprite-inline {
      opacity: .5;
    }
  }
  .active {
    color: #fff;
    a {
      background-color: $accent;
    }
  }
  .sprite-inline {
    position: relative;
    top: 2px;
  }

  li.pagination__left {
    margin-right: 25px;
  }
  li.pagination__right {
    margin-left: 25px;
  }
}

@media ($mobile){
  .pagination li.pagination__left {
    margin-right: 5px;
  }
  .pagination li.pagination__right {
    margin-left: 5px;
  }
}