//////////////////////////////////////////////////// product ///////////////////////////////////////////

.product {

}

.product-bottom {
  overflow: hidden;
  max-height: 625px;
  background-color: #f2f4fa;
}


.product-top {
  position: relative;
  margin-bottom: 18px;
}

.product-sku {
  font-size: 15px;
  position: absolute;
  top: 11px;
  right: 0;
  span {
    color: #868799;
    margin-right: 5px;
  }
}

.product-navigate {
  li {
    display: inline-block;

    &:not(:last-child){
      margin-right: 10px;
    }

    a {
      display: block;
      padding: 10px 20px;
      border: 1px solid #e8edf5;
      border-radius: 30px;
      transition: .3s ease;
    }
  }
  li.init {
    display: none;
  }

  li.active a {
    background-color: #e3e8f5;
    border: 0;
    font-family: $font-bold;
    position: relative;
    
    &:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #e3e8f5;
      position: absolute;
      left: 50%;
      bottom: -7px;
      transform: translateX(-50%);
    }
  }
}


.product-left-block {
  display: inline-block;
  background-color: #fff;
  padding: 30px;
  border: 1px solid #f2f4fa;
  width: 40%;
  margin-right: -2px;
}

.product-sliders {
  border-bottom: 1px solid #f2f4fa;
  margin-bottom: 20px;
  padding-bottom: 25px;
}

.product-slider-horizontal, .product-slider-vertical {
  display: inline-block;
  font-size: 0;
  vertical-align: top;
}

.product-slider-vertical {
  margin-left: 12px;
  margin-right: -5px;
  display: inline-block;
  width: 62px;
  padding-bottom: 75px;

  .slick-current {
    .product-slider-vertical__item {
      .product-slider-vertical__item--overlay {
        background-color: transparent;
      }
    }
  }

  .slick-arrow {
    transform: rotateZ(90deg);
    left: 18px;
    &.slick-next {
      bottom: 0;
    }
    &.slick-prev {
      bottom: 35px;
    }
  }

  &__item {
    border: 1px solid #e8edf5;
    width: 60px;
    height: 60px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
    img {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0, .1);
      svg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        margin: auto;
      }

    }
  }
}

.product-slider-horizontal {
  position: relative;
  overflow: hidden;
  width: 360px;

  .action-sticker {
    font-size: 15px;
    padding: 9px 19px 9px 30px;
    top: 0;
  }

  .info-sticker {
    position: absolute;
    top: 50px;
    right: 0;
    z-index: 1;
  }
  .compare-link {
    top: 0;
    left: 0;
  }

}

.product-slider-main {

  &__item {
    width: 370px;
    height: 370px;
    position: relative;
    overflow: hidden;
    img {
      max-height: 97%;
      max-width: 97%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.product-specials {
  p.text-bold {
    font-size: 16px;
    margin-bottom: 20px;
  }
  li {
    display: inline-block;
    width: 25%;
    text-align: center;
    vertical-align: top;
    margin: 0 -2px;
  }
  &__title {
    font-size: 12px;
    line-height: 1.3;
    display: block;
    max-width: 70px;
    margin: auto;
  }
  &__icon {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #f2f4fa;
    position: relative;
    border-radius: 50%;
    margin: 0 auto 10px;
    .icon {
      color: $accent;
      font-size: 30px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &.icon-bottle {
        font-size: 35px;
      }
    }
  }
}

.product-right-block {
  display: inline-block;
  vertical-align: top;
  width: 60%;
  margin: 0 -2px;
  &__left {
    display: inline-block;
    vertical-align: top;
    margin: 0 -2px;
    width: 62%;
    padding: 25px 35px;

    .goods-prop {
      padding: 0;
      line-height: 1.9;
      margin-bottom: 22px;
    }

    .goods-price {
      background-color: transparent;
      border-bottom: 1px solid #c8d1eb;
      height: auto;
      position: relative;
      padding: 6px 0;
      text-align: left;
      margin-bottom: 20px;

    }

    .current-price {
      font-size: 28px;
    }

    .old-price {
      color: $second-accent;
      text-decoration: line-through;
      font-size: 20px;
      margin-right: 0;
      margin-left: 20px;
    }

    .goods-additions {
      margin-bottom: 20px;
    }

    .goods-start-tips {
      background-color: #e6eaf6;
      position: relative;
      padding: 15px;
      color: #5d5e67;
      font-size: 13px;
      margin-bottom: 25px;
      &:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-right: 7px solid #e6eaf6;
        border-bottom: 5px solid transparent;
        position: absolute;
        top: 30px;
        left: -7px;
      }
    }

  }
  &__right {
    display: inline-block;
    vertical-align: top;
    margin: 0 -2px;
    width: 38%;
  }
}

.goods-amount {
  position: relative;
  height: 45px;
  border: 1px solid #d9deea;
  border-radius: 45px;
  background-color: #fff;
  max-width: 150px;
  overflow: hidden;

  .inc, .dec {
    position: absolute;
    top: 0;
    border: 0;
    background-color: transparent;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    z-index: 1;
  }
  .caret {
    position: relative;
    bottom: 3px;
    z-index: -1;
  }
  .inc {
    right: 0;
    transform: rotateZ(180deg);
  }
  .dec {
    left: 0;
  }
  
}

.goods-amount-input {
  display: block;
  padding: 0;
  text-align: center;
  border: none;
  background: transparent;
  width: 100%;
  height: 44px;
  border-radius: 45px;
}

.buy-goods {
  width: 220px;
  float: right;
  margin-bottom: 10px;
}

.goods-rent-link {
  padding-top: 15px;
  display: inline-block;
  margin-left: 24px;
}

.product-action-block {
  height: 200px;
  border: 1px solid #e9e0de;
  position: relative;
  padding: 20px 25px;

  .action-sticker {
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 12px;
    text-transform: uppercase;
    font-family: $font-normal;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &__title {
    font-family: $font-black;
    font-size: 17px;
    text-transform: uppercase;
    max-width: 200px;
  }

  &__text {
    font-size: 13px;
    height: 65px;
    overflow: hidden;
    margin-bottom: 15px;
  }
}

.product-inform-block {
  background-color: #e3e8f5;
  padding: 30px 25px 9999px;


  &__item {
    margin-bottom: 22px;

    &--title {
      font-size: 16px;
      margin-bottom: 7px;
      position: relative;

      &:after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background-color: #c0c7dc;
        border-radius: 50%;
        position: absolute;
        top: 7px;
        right: 0;
      }
      &:before {
        content: '';
        display: block;
        height: 1px;
        background-color: #c0c7dc;
        position: absolute;
        top: 11px;
        left: 0;
        right: 0;
      }
      span {
        position: relative;
        background-color: #e3e8f5;
        padding-right: 10px;
      }
      &+p {
        font-size: 13px;
        &+p {
          font-size: 18px;
          font-family: $font-regular;
        }
      }
    }
    ul {
      li {
        &:before {
          content: '';
          display: inline-block;
          width: 4px;
          height: 4px;
          background-color: $accent;
          border-radius: 50%;
          vertical-align: middle;
          margin-right: 10px;
        }
      }
    }
  }
}

.product-description {
  margin-bottom: 45px;

  &__title {
    font-size: 19px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 25px;
    font-family: $font-regular;
  }
  
  &__spoiler {
    &.link {
      font-family: $font-normal;
      margin-right: 5px;
    }
  }

  &__link {
    font-family: $font-normal;
    padding-top: 10px;
  }

  &__text {
    overflow: hidden;
    max-height: 250px;

    p {
      margin-bottom: 25px;
    }
  }

}

.product-cut-reviews {

}

.product-reviews {

  .product-description__title {
    position: relative;
  }

  &__label {
    position: absolute;
    top: -6px;
    right: -30px;
    display: inline-block;
    font-size: 11px;
    color: #fff;
    background-color: $accent;
    border-radius: 30px;
    height: 22px;
    width: 22px;
    text-align: center;
    line-height: 2;
  }

}

.product-reviews-list {
  &__item {
    position: relative;
    border-bottom: 1px solid #e8edf5;
    padding-bottom: 23px;
    margin-bottom: 24px;
    padding-left: 70px;
    padding-top: 5px;

    &--icon {
      width: 48px;
      height: 48px;
      background-color: #f2f4fa;
      border-radius: 50%;
      position: absolute;
      top: 8px;
      left: 0;

      .icon {
        color: #bfc5d7;
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &--name {
      font-size: 15px;
      display: inline-block;
      margin-bottom: 5px;
    }
    &--time {
      float: right;
      color: #8e90a0;
      font-size: 13px;
    }
  }
}

.product-characteristics {
  margin-bottom: 45px;

  &.copy {
    display: none;
  }

  &__table {
    width: 100%;
    border: 1px solid #e8edf5;
    tr {
      border-bottom: 1px solid #e8edf5;
      &:nth-child(even){
        background-color: #f5f6f9;
      }
      td:first-child {
        width: 43%;
      }
      td{
        padding: 10px 23px;
      }
    }
  }
}

.product-property{
  overflow: hidden;

  &__item {
    padding-top: 30px;
    margin-bottom: 50px;
    position: absolute;
    top: 0;
    left: -99999px;
    width: 100%;
    &.active {
      position: static;
    }

    .no-padding.left {
      padding-right: 15px;
    }
    .no-padding.right {
      padding-left: 15px;
    }

    .four-item-slider__no-dots .slick-arrow {
      top: -55px;
    }
  }
}

.product-banner {
  img {
    max-width: 100%;
  }
}

.goods.goods--short {

  .goods-prop ul {
    height: 40px;
    overflow: hidden;
  }

}


.goods.goods__last-seems {

  .goods-image {
    height: 140px;
    img {
      max-width: 120px;
      max-height: 120px;
    }
  }

  .goods-title {
    border-bottom: 0;
    height: 80px;
    font-size: 12px;
    padding: 10px 15px;

    &> a {
      height: 60px;
    }
  }

  .goods-price {
    background-color: transparent;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .old-price {
    margin-right: 0;
  }
}

.goods-not-avaible {

  &.text--red {
    font-size: 15px;
    margin-bottom: 20px;

  }

  &.btn {
    width: 345px;
  }
}

.product-short {

  .product-slider-vertical,
  .product-specials,
  .product-right-block__left .goods-prop,
  .product-right-block__left .goods-additions,
  .product-right-block__left .goods-start-tips,
  .product-right-block__right {
    display: none;
  }

  .product-right-block__left {
    padding: 35px 35px;
  }

  .product-right-block__left .goods-price {
    margin-bottom: 30px;
  }

  .product-sliders {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .product-left-block {
    padding: 0;
    width: 330px;
  }

  .product-slider-horizontal .compare-link {
    top: 15px;
    left: 15px;
  }

  .product-slider-horizontal .action-sticker {
    top: 15px;
    display: none;
  }

  .product-slider-horizontal .info-sticker {
    top: 70px;
    display: none;
  }

  .product-slider-main__item {
    width: 330px;
    height: 330px;
  }

}

.product-property__item.active {

  .product-reviews {
    .product-description__title {
      margin-bottom: 10px;
    }
  }

}



.product-documentation {
  &__table {
    tr {
      height: 60px;
    }

    &--icon {
      display: inline-block;
      height: 41px;
      width: 36px;
      margin-right: 20px;
    }
  }
}

.product-reviews-form {

  &.gray-form {
    padding: 35px 45px 40px;
  }

  fieldset {
    margin-bottom: 25px;
  }

  .product-description__title {
    display: block;
    text-align: center;
  }

  .btn {
    width: 285px;
    display: block;
    margin: 35px auto 0;
  }

}


.product-reviews {
  .catalog__btn {
    text-align: center;
    padding: 10px 0 25px;
  }
}

.product-four-item-slider {
  padding-bottom: 20px;
}


@media ($desktop) {

  .product-sku {
    position: relative;
   top: 0;
    display: inline-block;
    margin-bottom: 15px;
  }

  .product-left-block {
    width: 100%;
    margin-right: 0;
  }

  .product-bottom {
    overflow: visible;
    max-height: none;
    background-color: transparent;

  }

  .product-right-block {
    background-color: #f2f4fa;
    margin-left: 1px;
    width: 100%;
    max-height: 625px;
    overflow: hidden;
  }

  .product-characteristics__wrapper {
    display: none;
  }

  .product-characteristics.copy {
    display: block;
  }

  .product-sliders {
    text-align: center;
    position: relative;
  }

  .product-specials {
    max-width: 590px;
    text-align: center;
    margin: auto;
  }

  .product-description {
    margin-bottom: 20px;
  }

  .product-characteristics {
    margin-bottom: 30px;
  }

  .product-property__item .no-padding.left {
    padding-right: 0;
  }

  .product-bottom.product-short {
    background-color: #f2f4fa;

    .product-right-block__left {
      width: 100%;
    }

    .product-right-block {
      margin-left: 0;
      width: 65%;
    }
  }

  .product-reviews-form.gray-form form fieldset:first-child {
    display: inline-block;
    width: 49%;
    margin-right: 2.4%;
  }
  .product-reviews-form.gray-form form fieldset:nth-child(2) {
    display: inline-block;
    width: 49%;
  }

}

@media ($tablet){

  .product-navigate li:not(:last-child) {
    margin-right: 5px;
  }

  .product-navigate li a {
    font-size: 13px;
  }

  .product-slider-vertical {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .product-slider-horizontal {
    width: 73%;
  }

  .product-slider-main {
    width: 360px;
    margin: auto;
  }

  .product-property__item {
    margin-bottom: 25px;
  }

  .goods.goods--short {

    .goods-image {
      height: 200px;
    }
  }

  .product-short .product-right-block__left {
    padding: 35px 15px;
  }

  .product-bottom.product-short .product-right-block {
    margin-left: 0;
    width: 55%;
    float: right;
  }

  .product-reviews-form.gray-form form fieldset:first-child {
    margin-right: 1%;
  }



}

@media ($mobile) {

  .product-navigate li.init {
    display: block;
    position: relative;
    background-color: #e3e8f5;
    border-radius: 45px;
    &:after {
      content: '';
      display: inline-block;
      width: 5px;
      height: 5px;
      margin-left: 0;
      vertical-align: middle;
      border-top: 1px solid #2c2f7c;
      border-right: 1px solid #2c2f7c;
      border-left: 0;
      -webkit-transform: rotateZ(135deg);
      -ms-transform: rotate(135deg);
      transform: rotateZ(135deg);
      -webkit-transition: .3s ease;
      transition: .3s ease;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    a:after {
      content: '';
      display: inline-block;
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid #e3e8f5;
      position: absolute;
      left: 50%;
      bottom: -7px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  .product-navigate li {
    margin-right: 0;
    width: 100%;

    &:not(.init){
      display: none;
      a {
        border-radius: 0;
        border-width: 0 1px 1px 1px;
      }

    }
  }

  .product-property {
    position: relative;
  }

  .product-left-block {
    padding: 15px 0;
    margin-right: 0;
  }

  .product-slider-horizontal {
    width: 100%;
  }
  .product-slider-vertical {
    margin-left: 2%;
    position: relative;
    width: 300px;
  }

  .product-slider-main {
    width: 100%;
  }

  .product-slider-main__item {
    width: 100%;
    height: 290px;
  }

  .product-slider-horizontal .compare-link {
    top: 0;
    left: 15px;
  }

  .product-slider-vertical .slick-arrow {
    transform: rotateZ(0deg);
  }

  .product-slider-vertical .slick-arrow.slick-prev {
    bottom: -25px;
    left: 50%;
    margin-left: -45px;
  }

  .product-slider-vertical .slick-arrow.slick-next {
    bottom: -25px;
    right: 50%;
    left: inherit;
    margin-right: -30px;
  }

  .product-specials li {
    width: 50%;
    position: relative;
    margin-bottom: 10px;
  }

  .product-specials__icon {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
  }

  .product-specials__title {
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
    text-align: left;
    padding-left: 5px;
  }

  .product-specials p.text-bold {
    margin-bottom: 15px;
  }

  .product-sliders {
    margin-bottom: 15px;
  }

  .product-right-block__left {
    margin: 0;
    width: 100%;
    padding: 20px;
  }

  .product-right-block__left .current-price {
    font-size: 22px;
  }

  .product-right-block__left .old-price {
    font-size: 15px;
  }

  .product {

    .goods-amount {
      max-width: none;
      margin-bottom: 10px;
    }

    .buy-goods {
      width: 100%;
      float: none;
    }

  }

  .goods-order-block {
    position: relative;
    padding-bottom: 25px;
  }

  .goods-rent-link {
    display: inline-block;
    margin-left: 0;
    position: absolute;
    left: 50%;
    bottom: -78px;
    transform: translateX(-50%);
  }

  .product-right-block {
    max-height: none;
  }

  .product-inform-block {
    padding: 20px 25px;
  }

  .product-right-block__right {
    margin: 0;
    width: 100%;
  }

  .product-description__text {
    max-height: 240px;
  }

  .product-property__item {
    padding-top: 15px;
    margin-bottom: 30px;
  }

  .product-characteristics.copy {
    position: relative;
    padding-bottom: 30px;

    .product-description__link {
      position: absolute;
      left: 0;
      bottom: -5px;
    }
  }

  .product-characteristics__table tr td {
    padding: 5px 15px;
  }

  .product-property {

    .container-fluid {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .product-description__title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .product-cut-reviews {
    position: relative;
    padding-bottom: 15px;

    .product-description__link {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  .goods.goods__last-seems .goods-title {
    height: 75px;
    font-size: 11px;
  }

  .goods.goods__last-seems .goods-title > a {
    height: 55px;
  }

  .goods.goods__last-seems .old-price {
    margin-right: 0;
    font-size: 13px;
  }

  .goods.goods__last-seems .current-price {
    font-size: 15px;
  }

  .goods.goods__last-seems .goods-price {
    padding: 10px;
  }

  .six-item-slider__last-seems .goods.goods__last-seems {
    width: 95%;
    margin: auto;
  }

  .product-short .product-left-block {
    width: 100%;
  }

  .product-bottom.product-short {
    background-color: transparent;
  }

  .product-bottom.product-short .product-right-block {
    width: 100%;
    float: none;
  }

  .product-property {

    .product-four-item-slider {
      padding-bottom: 0;
    }

    .product-description__title {
      max-width: 200px;
      font-size: 20px;
    }
  }

  .product {
    .section-title {
      font-size: 20px;
    }
  }

  .product-property__item .no-padding.right {
    padding-left: 0;
  }

  .product-reviews-form.gray-form {
    padding: 20px 20px 25px;
  }

  .product-reviews-form .btn {
    width: 100%;
    margin: 20px auto 0;
  }

  .product-reviews-form.gray-form form fieldset:first-child {
    margin-right: 0;
    width: 100%;
  }

  .product-reviews-form.gray-form form fieldset:nth-child(2) {
    width: 100%;
  }

  .product .product-reviews-form.gray-form {
    .product-description__title {
      max-width: 100%;
      font-size: 18px;
    }
  }

  .product-banner img {
    max-width: 300px;
  }
  .product-banner {
    text-align: center;
  }






}
































